DATABASE_URL="postgresql://neondb_owner:npg_7BDHwxaWVzX8@ep-autumn-water-a18rsk74-pooler.ap-southeast-1.aws.neon.tech/giveback?sslmode=require"
JWT_SECRET="your-secret-key-here"
RAZORPAY_KEY_ID="..."
RAZORPAY_KEY_SECRET="...g"
HEDERA_PRIVATE_KEY="..."
